{%extends 'events/base.html' %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css\mystyles.css' %}">
</head>
<body>
    <h1>Admin Mode</h1>


    <div class="parent">

        <div class="shadow p-4 mb-5 bg-body rounded">
        <center>
            <h1>{{user}}</h1>
            <p>{{user.first_name}} {{user.last_name}}</p>
            <p>{{user.email}}</p>
        </center>
        </div>
        <div class="shadow p-4 mb-5 bg-body rounded">
        <center>
            <h1>Company Profits</h1>
            <p>${{totals}}</p>
        </center>
        </div>
    </div>

    <div class="parent_disp_4">
        <div class="shadow p-4 mb-5 bg-body rounded">
            <p class="text1">Orders in Confirm</p>
            {{confirm}}
        </div>
        <div class="shadow p-4 mb-5 bg-body rounded">
            <p class="text1">Orders in Packaging</p>
            {{packaging}}
        </div>
        <div class="shadow p-4 mb-5 bg-body rounded">
            <p class="text1">Orders in Shipping</p>
            {{shipping}}
        </div>
        <div class="shadow p-4 mb-5 bg-body rounded">
            <p class="text1">Orders Completed</p>
            {{completed}}
        </div>
    </div>

    <h1>Pending Orders: </h1>
    {%for user1 in users%}
        {%if not user1.is_staff%}
            {%for order in orders%}
                {%if order.orderOwner == user1 and order.status != 'Completed'%}
                    <div class="shadow p-4 mb-5 bg-body rounded">
                        <h1>Order {{order.id}}</h1>
                        <p>N. of Boxes: {{order.boxes}}</p>
                        <p>Units per box: {{order.units_per_box}}</p>
                        <p>Flavour: {{order.flavour}}</p>
                        <p>User: {{order.orderOwner}}</p>
                        <p>Status: {{order.status}}</p>
                        <p>Shipping adress: {{order.adress}}</p>
                        <p>Date Created: {{order.date_created}}</p>

                        <p>Total: ${{order.total}}</p>
                        <a href="{% url 'viewO' order.id %}" class="btn btn-secondary btn-sm" >View Order</a>
                    </div>

                </div>
                {%endif%}
            {%endfor%}
        {%endif%}
    {%endfor%}

</body>
</html>

{% endblock %}