{%extends 'events/base.html' %}

{% block content %}


<h1> Order {{batch.id}}</h1>

    <div class="card">
        <div class="card-body">

            <p>N. of Boxes: {{batch.boxes}}</p>
            <p>Units per box: {{batch.units_per_box}}</p>
            <p>Flavour: {{batch.flavour}}</p>
            <p>User: {{batch.orderOwner}}</p>
            <p>Status: {{batch.status}}</p> 

            {%if batch.status != 'Completed'%}
                <a href="{% url 'nextS' batch.id %}" class="btn btn-warning btn-sm" >Next Stage</a>
            {%endif%}

            <p>Shipping adress: {{batch.adress}}</p>
            <p>Date Created: {{batch.date_created}}</p>
            <p>Total: ${{batch.total}}</p>

            {%if batch.status != 'Completed'%}
                <a href="{% url 'deleteO' batch.id %}" class="btn btn-danger btn-sm" >Delete Order</a>
            {%endif%}
            <a href="{% url 'modifyO' batch.id %}" class="btn btn-secondary btn-sm" >Modify Order</a>
        </div>
      </div>



{%endblock%}